In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
#Loading the data
df = pd.read_csv("../data/uber-eats-deliveries.csv")
df.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
5,0x9bb4,HYDRES09DEL03,22,4.8,17.431668,78.408321,17.461668,78.438321,11-03-2022,21:20:00,21:30:00,conditions Cloudy,Jam,0,Buffet,motorcycle,1,No,Urban,(min) 26
6,0x95b4,RANCHIRES15DEL01,33,4.7,23.369746,85.339820,23.479746,85.449820,04-03-2022,19:15:00,19:30:00,conditions Fog,Jam,1,Meal,scooter,1,No,Metropolitian,(min) 40
7,0x9eb2,MYSRES15DEL02,35,4.6,12.352058,76.606650,12.482058,76.736650,14-03-2022,17:25:00,17:30:00,conditions Cloudy,Medium,2,Meal,motorcycle,1,No,Metropolitian,(min) 32
8,0x1102,HYDRES05DEL02,22,4.8,17.433809,78.386744,17.563809,78.516744,20-03-2022,20:55:00,21:05:00,conditions Stormy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 34
9,0xcdcd,DEHRES17DEL01,36,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55:00,22:10:00,conditions Fog,Jam,2,Snack,motorcycle,3,No,Metropolitian,(min) 46

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  object
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

## Notes
1. Check for missing(Null) values. are there any highest orders from a single customer
2. Check for zero values
3. Check for duplicate rows not for duplicate id's or duplicate_person_id as a 
   customer can make multiple orders and delivery partner(DP) can do multiple deliveries
4. Check Outliers in Delivery person age and see the data distribution of DP age 
    and make plots against DP age VS the time taken to deliver
5. Check for 0 ratings(This can happen when a new DP joined) and outlier ratings. 
    Make plots for ratings and the Time_taken(min)
    make plots for ratings and the distance travelled(write a c=function to calculate distance)
6. For Restaurant_latitude, Restaurant_longitude, Delivery_location_latitude, Delivery_location_longitude
    write to function to check whether the latitude and logitude are valid and both the latitude and longitude are pointing to a vlaid location. 
    Write a function to calcuate the distance between restaurant location and delivery location
7. Check for missing and outliers in Date.
    Plot for dates and the time_taken. See any patterns for the seasonality/trend 
9. Check for missing and outliers in time ordered.
    Plot for no.of orders placed during that time and the time_taken. See any patterns for the seasonality/trend. Check when are the highest number of orders placed. 
10. Time order picked. Write a function to calculate the time diff b/w the order placed and picked.
    See the relation b/e the time diff and the Time_taken(min)
11. How weather conditions are effecting the time_taken(min) using plots
12. Road_traffic_density is one of the key feature. Plotting this can reveal interesting points such as
    to avoid any routes or placing a surge during that particular time when the road traffic density is high.
13. Vehicle-condition has to be good. Plot the consditon Vs Time_taken. Incentivize the DP for vehicles to 
    improve the time_taken
14. type_of_order plays a crucial role as some items requires more time to prepare the food
15. Type-of_vehicle also has an impact as some low power vehicles take more time
16. If a DP is doing multiple deliveries then there might be a chance of some deliveries getting delayed
17. Festival times can be tricky, because during some festivals the roads will be empty and for some
    festivals roads will be full. For some festivals customers prefer ordering food. For some festivasl customers prefer making food in home itself.
18. City : If it is urban, Semi-Urban, Metropolitan

In [59]:
def check_null_values_and_format(df, col_name, col_item_len):
    print(f"The column {col_name} is of data type {df[col_name].dtype}")
    for i, item in enumerate(df[col_name]):
        if (len(item) != col_item_len):
            return print("Null values are there or items have diferent length")
        else :
            return print("No null values and all are same lenght")

In [60]:
check_null_values_and_format(df, "ID", 7)
check_null_values_and_format(df, "Delivery_person_ID", 15)

The column ID is of data type object
No null values and all are same lenght
The column Delivery_person_ID is of data type object
No null values and all are same lenght

# Data Preprocessing

In [56]:
#Remove records with no ID
def remove_records_with_no_ID(df, col_name):
    df = df.dropna(subset = [col_name])
    return df

In [58]:
print(df.shape)
df = remove_records_with_no_ID(df, "ID")
print(df.shape)

(45593, 20)
(45593, 20)

# A look through data

In [67]:
df["Delivery_person_Age"].unique()

array(['37', '34', '23', '38', '32', '22', '33', '35', '36', '21', '24',
       '29', '25', '31', '27', '26', '20', 'NaN ', '28', '39', '30', '15',
       '50'], dtype=object)

In [68]:
df["Delivery_person_Ratings"].unique()

array(['4.9', '4.5', '4.4', '4.7', '4.6', '4.8', '4.2', '4.3', '4', '4.1',
       '5', '3.5', 'NaN ', '3.8', '3.9', '3.7', '2.6', '2.5', '3.6',
       '3.1', '2.7', '1', '3.2', '3.3', '6', '3.4', '2.8', '2.9', '3'],
      dtype=object)

In [71]:
df["Order_Date"].unique(), df["Time_Orderd"].unique()

(array(['19-03-2022', '25-03-2022', '05-04-2022', '26-03-2022',
        '11-03-2022', '04-03-2022', '14-03-2022', '20-03-2022',
        '12-02-2022', '13-02-2022', '14-02-2022', '02-04-2022',
        '01-03-2022', '16-03-2022', '15-02-2022', '10-03-2022',
        '27-03-2022', '12-03-2022', '01-04-2022', '05-03-2022',
        '11-02-2022', '08-03-2022', '03-04-2022', '30-03-2022',
        '28-03-2022', '18-03-2022', '06-04-2022', '04-04-2022',
        '24-03-2022', '09-03-2022', '02-03-2022', '13-03-2022',
        '29-03-2022', '31-03-2022', '17-03-2022', '07-03-2022',
        '15-03-2022', '16-02-2022', '03-03-2022', '18-02-2022',
        '23-03-2022', '17-02-2022', '06-03-2022', '21-03-2022'],
       dtype=object),
 array(['11:30:00', '19:45:00', '08:30:00', '18:00:00', '13:30:00',
        '21:20:00', '19:15:00', '17:25:00', '20:55:00', '21:55:00',
        '14:55:00', '17:30:00', '09:20:00', '19:50:00', '20:25:00',
        '20:30:00', '20:40:00', '21:15:00', '20:20:00', '22:30:00',
        '08:15:00', '19:30:00', '12:25:00', '18:35:00', '20:35:00',
        '23:20:00', '23:35:00', '22:35:00', '23:25:00', '13:35:00',
        '21:35:00', '18:55:00', '14:15:00', '11:00:00', '09:45:00',
        '08:40:00', '23:00:00', 'NaN ', '19:10:00', '10:55:00', '21:40:00',
        '19:00:00', '16:45:00', '15:10:00', '22:45:00', '22:10:00',
        '20:45:00', '22:50:00', '17:55:00', '09:25:00', '20:15:00',
        '22:25:00', '22:40:00', '23:50:00', '15:25:00', '10:20:00',
        '10:40:00', '15:55:00', '20:10:00', '12:10:00', '15:30:00',
        '10:35:00', '21:10:00', '20:50:00', '12:35:00', '21:00:00',
        '23:40:00', '18:15:00', '18:20:00', '11:45:00', '12:45:00',
        '23:30:00', '10:50:00', '21:25:00', '10:10:00', '17:50:00',
        '22:20:00', '12:40:00', '23:55:00', '10:25:00', '08:45:00',
        '23:45:00', '19:55:00', '22:15:00', '23:10:00', '09:15:00',
        '18:25:00', '18:45:00', '16:50:00', '00:00:00', '14:20:00',
        '10:15:00', '08:50:00', '09:00:00', '17:45:00', '16:35:00',
        '21:45:00', '19:40:00', '14:50:00', '18:10:00', '12:20:00',
        '12:50:00', '09:10:00', '12:30:00', '17:10:00', '17:20:00',
        '18:30:00', '13:10:00', '19:35:00', '09:50:00', '15:00:00',
        '20:00:00', '10:30:00', '09:40:00', '15:35:00', '16:55:00',
        '22:55:00', '16:00:00', '17:15:00', '21:30:00', '18:40:00',
        '11:10:00', '13:50:00', '10:00:00', '21:50:00', '11:50:00',
        '22:00:00', '08:25:00', '11:20:00', '11:55:00', '09:30:00',
        '08:20:00', '08:10:00', '11:40:00', '23:15:00', '19:20:00',
        '12:15:00', '11:35:00', '11:15:00', '17:35:00', '17:40:00',
        '14:40:00', '18:50:00', '11:25:00', '14:25:00', '12:00:00',
        '16:10:00', '19:25:00', '08:55:00', '13:40:00', '17:00:00',
        '09:35:00', '08:35:00', '16:15:00', '13:20:00', '15:50:00',
        '15:20:00', '16:20:00', '14:30:00', '15:45:00', '16:40:00',
        '13:00:00', '12:55:00', '10:45:00', '13:25:00', '09:55:00',
        '15:15:00', '13:15:00', '14:00:00', '15:40:00', '16:25:00',
        '14:10:00', '13:45:00', '13:55:00', '14:35:00', '16:30:00',
        '14:45:00'], dtype=object))

In [73]:
df["Time_Order_picked"].unique()

array(['11:45:00', '19:50:00', '08:45:00', '18:10:00', '13:45:00',
       '21:30:00', '19:30:00', '17:30:00', '21:05:00', '22:10:00',
       '15:05:00', '17:40:00', '09:30:00', '20:05:00', '20:35:00',
       '15:10:00', '20:40:00', '20:50:00', '20:25:00', '22:45:00',
       '08:30:00', '19:45:00', '12:30:00', '18:50:00', '23:30:00',
       '21:35:00', '23:45:00', '22:50:00', '22:40:00', '23:35:00',
       '13:40:00', '21:45:00', '19:10:00', '14:25:00', '11:10:00',
       '09:55:00', '08:55:00', '23:10:00', '18:35:00', '19:25:00',
       '11:00:00', '19:15:00', '16:55:00', '11:40:00', '15:15:00',
       '22:55:00', '22:25:00', '20:55:00', '23:05:00', '18:00:00',
       '23:00:00', '09:40:00', '20:20:00', '22:35:00', '22:00:00',
       '23:55:00', '15:40:00', '10:30:00', '21:00:00', '10:50:00',
       '16:05:00', '20:15:00', '12:15:00', '15:45:00', '22:15:00',
       '10:45:00', '15:30:00', '00:05:00', '21:25:00', '12:45:00',
       '21:15:00', '18:20:00', '18:25:00', '11:50:00', '12:50:00',
       '10:55:00', '21:40:00', '10:20:00', '17:55:00', '23:50:00',
       '12:55:00', '00:10:00', '10:40:00', '09:00:00', '20:45:00',
       '20:00:00', '23:15:00', '22:20:00', '17:00:00', '00:15:00',
       '21:20:00', '14:35:00', '10:25:00', '09:05:00', '16:50:00',
       '08:40:00', '23:40:00', '21:50:00', '19:55:00', '15:00:00',
       '10:35:00', '09:25:00', '17:20:00', '17:25:00', '20:10:00',
       '00:00:00', '17:35:00', '19:00:00', '19:05:00', '13:20:00',
       '17:50:00', '18:05:00', '19:20:00', '10:05:00', '09:10:00',
       '21:55:00', '19:40:00', '09:50:00', '15:50:00', '18:30:00',
       '18:15:00', '16:15:00', '11:15:00', '21:10:00', '22:30:00',
       '15:20:00', '18:40:00', '23:20:00', '11:25:00', '13:55:00',
       '18:45:00', '22:05:00', '11:55:00', '18:55:00', '09:45:00',
       '17:15:00', '12:05:00', '12:00:00', '19:35:00', '08:25:00',
       '11:05:00', '15:35:00', '12:40:00', '12:25:00', '08:20:00',
       '23:25:00', '16:10:00', '08:15:00', '20:30:00', '13:00:00',
       '11:20:00', '08:50:00', '14:45:00', '17:45:00', '10:00:00',
       '08:35:00', '12:10:00', '11:35:00', '14:30:00', '10:15:00',
       '17:05:00', '10:10:00', '09:35:00', '11:30:00', '16:25:00',
       '09:15:00', '13:35:00', '15:55:00', '13:10:00', '13:05:00',
       '16:20:00', '16:30:00', '16:45:00', '09:20:00', '13:25:00',
       '14:15:00', '14:05:00', '16:35:00', '16:40:00', '13:30:00',
       '14:40:00', '12:20:00', '13:50:00', '17:10:00', '15:25:00',
       '14:20:00', '12:35:00', '14:00:00', '14:10:00', '14:55:00',
       '13:15:00', '14:50:00', '16:00:00'], dtype=object)

## There is a Not a number(NaN) but this is present as a string -> 'NaN ' with a tab space
### In general these kind of values pass through the pd.isna() pr pd.isnull() condition
### TTreat these values as special and write the functions
### Replace this 'NaN ' as pd.NA

In [74]:
### Replace 'NaN ' as pd.NA
def replace_string_na_with_NA(df):
    return df.replace('NaN ' , pd.NA)

df = replace_string_na_with_NA(df)

## Filling missing or null latitde and logitude values

In [83]:
value = 22.74504
if -90<= value<= 90:
    print("su")

su

In [86]:
#Check latitude
def is_latitude(value):
    return -90<=value<=90

#Check longitude
def is_longitude(value):
    return -180<=value<=180

### Replace 0 or other non latitude and longitude values
def replace_non_lat_lang_with_NA(df, geography_col):
    if geography_col.endswith("latitude"):
        df[geography_col] = df[geography_col].apply(lambda x : pd.NA if x is not None 
                                                    and not is_latitude(x) else x)
    elif geography_col.endswith("longitude"):
        df[geography_col] = df[geography_col].apply(lambda x : pd.NA if x is not None 
                                                    and not is_longitude(x) else x)
    else:
        pass
    return df


geogrpahy_columns = []
for col_name in df.columns:
    if col_name.endswith("latitude") or col_name.endswith("longitude"):
        geogrpahy_columns.append(col_name)

for col in geogrpahy_columns:
    replace_non_lat_lang_with_NA(df, col)

In [75]:
## Calculating % of missing values in each column
missing_values_df = pd.DataFrame(columns=["Column", "MissingPercentage"])
for index, col_name in enumerate(df.columns):
    num_missing_values = df[col_name].isnull().sum()
    missing_values_df = pd.concat([missing_values_df, 
                                  pd.DataFrame({"Column": col_name , 
                                                "MissingPercentage" :[num_missing_values/df.shape[0]*100]})])

missing_values_df.reset_index(drop=True, inplace=True)
missing_values_df

/var/folders/m4/y98c53d15dg1mt8b2xxsb6s40000gn/T/ipykernel_987/2940592197.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  missing_values_df = pd.concat([missing_values_df,

                         Column  MissingPercentage
0                            ID           0.000000
1            Delivery_person_ID           0.000000
2           Delivery_person_Age           4.066414
3       Delivery_person_Ratings           4.184853
4           Restaurant_latitude           0.000000
5          Restaurant_longitude           0.000000
6    Delivery_location_latitude           0.000000
7   Delivery_location_longitude           0.000000
8                    Order_Date           0.000000
9                   Time_Orderd           3.796635
10            Time_Order_picked           0.000000
11            Weatherconditions           0.000000
12         Road_traffic_density           1.318185
13            Vehicle_condition           0.000000
14                Type_of_order           0.000000
15              Type_of_vehicle           0.000000
16          multiple_deliveries           2.177966
17                     Festival           0.500077
18                         City           2.631983
19              Time_taken(min)           0.000000